* {
  margin: 0;
  padding: 0;
  font-family: "Fjalla One", sans-serif;
}
body {
  height: 100vh;
  background-color: #e3e3e3;
  position: relative;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
}
.container {
  width: 95%;
  max-width: 1360px;
  margin: auto;
}
.logo img {
  width: 100%;
  display: block;
  max-width: 50px;
}
.branding.grid-row {
  display: grid;
  grid-template-columns: 50px auto;
  grid-gap: 50px;
}
nav.navbar {
  display: flex;
  align-items: center;
}
ul.nav-listing > li {
  display: inline-block;
  padding: 0 30px;
}
ul.nav-listing > li > a {
  color: #424242;
  text-decoration: unset;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.6s linear;
}
ul.nav-listing > li > a:hover {
  color: #a62221;
}
.logo > a {
  display: block;
}
header.main-header {
  padding: 40px 0;
}

.main-heading > span {
  display: block;
}
.main-heading {
  color: #a62221;
  font-size: 100px;
  font-weight: 800;
  line-height: 100px;
}
.main-section .grid-row {
  display: grid;
  grid-template-columns: 50% 20%;
  grid-gap: 50px;
  margin-top: 50px;
}
.main-section p {
  color: #383838;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
}
h2 > span {
  display: block;
}
h2.dark-heading {
  color: #424242;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}
h2 {
  color: #a62221;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}
.small-top-space {
  margin-top: 20px;
}
.social-icons ul.listing {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  max-width: 150px;
}
.social-icons ul.listing li a {
  display: block;
  width: 100%;
  text-align: center;
  color: #a62221;
}
.social-icons ul.listing li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid #a62221;
  border-radius: 50%;
}
.desktop-hide {
  display: none;
}

/******************** @Media Css ****************/
@media only screen and (max-width: 960px) and (min-width: 200px) {
  body {
    background: #e3e3e3;
  }
  header.main-header {
    padding: 10px 0;
  }
  .main-heading {
    font-size: 40px;
    line-height: 50px;
  }
  .main-section p {
    font-size: 15px;
    line-height: 26px;
  }
  h2,
  h2.dark-heading {
    font-size: 30px;
    line-height: 40px;
  }
  .branding.grid-row {
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap: 10px;
  }
  .main-section .grid-row {
    display: block;
  }

  nav.navbar.mobile-menu {
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
    top: -1000px;
    background: #fff;
    pointer-events: none;
    transition: top 0.6s linear;
  }
  nav.navbar.mobile-menu.show-menu {
    top: 0;
    pointer-events: auto;
  }
  nav.navbar.mobile-menu ul.nav-listing {
    width: 100%;
  }
  .mobile-menu ul.nav-listing li {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  body .desktop-hide {
    display: block;
  }
  span.mobile-menu-btn {
    font-size: 50px;
    color: #a62221;
    cursor: pointer;
    width: 60px;
    text-align: center;
    margin: 0 0 0 auto;
  }
  .social-icons {
    margin-top: 20px;
  }
  span.close-menu {
    font-size: 50px;
    color: #a62221;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .main-section .grid-row,
  h2.dark-heading {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1320px) and (min-width: 961px) {
  ul.nav-listing > li > a {
    font-size: 15px;
  }
  .main-heading {
    font-size: 60px;
    line-height: 60px;
  }
  .main-section p {
    font-size: 15px;
    line-height: 25px;
  }
  .main-section .grid-row {
    margin-top: 20px;
  }
  h2,
  h2.dark-heading {
    font-size: 28px;
    line-height: 40px;
  }
}

/******************** @CSS styles made by utkarsh ****************/
header {
  background-color: lightskyblue;
}

.tweet {
  border: 2px solid lightskyblue;
  padding: 10px;
  margin: 20px;
}

#tAdd {
  padding: 10px;
  margin: 7px;
  margin-left: 20px;
  color: white;
  background-color: lightskyblue;
  border: 1px solid white;
}

#aTweet {
  padding: 30px;
  text-align: center;
  display: flex;
  text-align: center;
  left: 25%;
  position: absolute;
}
