body {
  background: #e7dfdd;
}
.login {
  padding-bottom: 30px;
  position: absolute;
  width: 100%;
  height: 450px;
  top: 100px;
  background: #0e0b16;
  color: #ed5e1e;
  display: grid;
  justify-content: center;
  align-items: center;
}
a {
  top: 60px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.logH1 {
  color: #e7dfdd;
}
h1 {
  color: #0e0b16;
  text-align: center;
  font-size: xx-large;
}
input {
  margin: 30px;
  height: 20px;
  border: 2px solid white;
  background: none;
  color: white;
}

button {
  background: #a239ca;
  color: #0e0b16;
  width: 100px;
  height: 50px;
  font-size: large;
  position: absolute;
  left: 45%;
}

button:hover {
  background: #0e0b16;
  color: #a239ca;
  width: 101px;
  height: 51px;
}
